<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>213475467866-l9qd4f5m7n995k1uelj9j7q47p78ih7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213475467866-l9qd4f5m7n995k1uelj9j7q47p78ih7v</string>
	<key>API_KEY</key>
	<string>AIzaSyAJLFlKbUJxwmWBytlKmpAF73VjozEo91g</string>
	<key>GCM_SENDER_ID</key>
	<string>213475467866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ryan.RecipeBook</string>
	<key>PROJECT_ID</key>
	<string>sous-4f506</string>
	<key>STORAGE_BUCKET</key>
	<string>sous-4f506.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213475467866:ios:7b12da1e9e4256ec</string>
	<key>DATABASE_URL</key>
	<string>https://sous-4f506.firebaseio.com</string>
</dict>
</plist>